@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
}

img {
  border-radius: 30px;
}
body {
  font: italic 20px fantasy;
}
body {
  font-family: cursive;
}
img {
  width: 200;
  margin: 20pg;
  border: 5px solid lightblue;
  padding: 5px;
}
